@page
@model _keys.Pages.editingBD.IndexModel
@{
}

<h1>Тут можно редактировать записи</h1>
<br>
<h3>Почты, находящиеся в БД</h3>

<table class=" =table">
	<thead>
		<tr>
			<th>UserName</th>
			<th>Email</th>
			<th>Phone</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.users_list)
		{
			<tr>
				 <td>@item.name</td>
				 <td>@item.email</td>
				<td>@item.phone</td>

				<td>
					<a class="btn btn-primary btn-sm" href="/editingBD/Edit?id=@item.id">Edit</a>
					<a class="btn btn-danger btn-sm" href="/editingBD/Delete?id=@item.id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>